name: GoReleaser

on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - "AutoTag"
    branches:
      - master
    types:
      - completed

permissions:
  contents: write
  pull-requests: read

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: .

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.5
          cache: true

      - name: Get PR
        uses: 8BitJonny/gh-get-current-pr@3.0.0
        id: pr

      - name: Check Run Conditions
        shell: bash {0}
        id: release
        env:
          WAS_PR: ${{ steps.pr.outputs.pr_title != '' }}
          SKIP_RELEASE: ${{ !contains(steps.pr.outputs.pr_title, 'skip-release') && !contains(steps.pr.outputs.pr_title, 'skip release') }}
        run: |
          should_run=true
          [[ ${SKIP_RELEASE} == 'true' || ${WAS_PR} == 'false' ]] && should_run=false
          echo "should_run=${should_run}" >>$GITHUB_OUTPUT

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        if: ${{ steps.release.outputs.should_run == 'true' }}
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ github.token }}
